a.out
prootie
benchmark_result.md

# Distros
alamalinux*
alpine*
alt*
amazonlinux*
archlinux*
busybox*
centos*
debian*
devuan*
fedora*
gentoo*
kali*
openeuler*
opensuse*
openwrt*
oracle*
rockylinux*
ubuntu*
voidlinux*

# Tmp dirs
.tmp*
